# Data files
Online Retail.xlsx
online_retail.csv


# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]
*$py.class

#misc files
fix.py
fix2.py